@import './virtual-tailwind.css';
@import './variable.css';
@import './porse.css';

body {
  background: var(--fallback-b1, oklch(var(--b1) / 1)) !important;
  color: var(--fallback-bc, oklch(var(--bc) / 1)) !important;
}

body,
html {
  font-size: 15px;
  line-height: 1.5;
}
